@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

// Fonts
$font: 'Dancing Script', 'sans-serif';
$bg: 'https://image.freepik.com/free-photo/flat-lay-note-paper-clips-with-yellow-background_23-2148219310.jpg';
$pink: #fddcff;
